{% extends "layout.html" %}
{% load static %}


{% block css_files %}
    <link rel="stylesheet" href= {% static "courses/css/style.css" %} />
{% endblock %}


{% block js_files %}
    <script src="{% static "pages/js/bootstrap.min.js" %}"></script>
{% endblock %}


{% block page_title %}
    Anasayfa
{% endblock%}


{% block content %}
<div class="container mt-3">
    <div class="row">
        <center>
            <div class="col-9">
                {% include "pages/partials/_slider.html" %}
            </div>
        </center>
    </div>
</div>


<center><hr width="1500px" ></center>
<br>

<div class="container mt-3">
    <div class="row row-cols-2 row-cols-md-3 g-4">
            {% for course in courses %}
                {% include "pages/partials/_card.html" %}
            {% endfor %}
    </div>
</div>
{% endblock%}



